@model HomeIndexViewModel
@{
    ViewData["Title"] = "Магазин одягу";
}

<h2>Популярні</h2>
@if (Model.Carousel.Any())
{
    <div id="topProducts" class="carousel slide" style="background-color:azure; height:15em;" data-ride="carousel">
        <ul class="carousel-indicators">
            <li class="bg-dark" data-target="#topProducts" data-slide-to="0" class="active"></li>
            @for (int i = 1; i < Model.Carousel.Count(); i++)
            {
                <li class="bg-dark" data-target="#topProducts" data-slide-to="@i"></li>
            }
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <img class="col-2" src="~/uploads/clothes/@Model.Carousel.FirstOrDefault().Image" />
                    <div class="col-3 justify-content-center"><p>За ціною @Model.Carousel.FirstOrDefault().Cost !</p></div>
                </div>
            </div>
            @foreach (var elem in Model.Carousel.Skip(1))
            {
                <div class="carousel-item">
                    <div class="row">
                        <img class="col-2" src="~/uploads/clothes/@elem.Image" />
                        <div class="col-3"><p>Cost: @elem.Cost</p></div>
                    </div>
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#topProducts" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#topProducts" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
}
else
{ <h3>Не має проданої одежи :(</h3>}
@if (Model.DiscountProducts.Any())
{
    <h2>Акції</h2>

    <div class="row">
        @foreach (var elem in Model.DiscountProducts)
        {
            <div class="col-3">
                @Html.Partial("ClothesItem", elem)
            </div>
        }
    </div>
}
