@model CreateViewModel<Clothes>

@{
    ViewData["Title"] = "Додавання одягу";
}

<h1>Додати одяг</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-controller="Clothes" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Entity.Name" class="control-label"></label>
                <input asp-for="Entity.Name" class="form-control" />
                <span asp-validation-for="Entity.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.PromoutionPercent" class="control-label"></label>
                <input asp-for="Entity.PromoutionPercent" class="form-control" />
                <span asp-validation-for="Entity.PromoutionPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.Material" class="control-label"></label>
                <input asp-for="Entity.Material" class="form-control" />
                <span asp-validation-for="Entity.Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.Cost" class="control-label"></label>
                <input asp-for="Entity.Cost" class="form-control" />
                <span asp-validation-for="Entity.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
            </div>
            <input asp-for="ReturnUrl" type="hidden" />
            <input asp-for="Entity.ClothesTypeId" type="hidden" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутись</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
